/*variáveis*/
:root {
    --escuro: #262626;
    --principal: #ff8d00;
    --secundaria: #ffa800;
    --terceira: #ffc000;
    --quarta: #ffdd00;
    --clara: #f2f2f2;
    --fonteTitulos: "Secular One", sans-serif;
    --fonteTextos: "Kanit", sans-serif;
    --fonteMarca: ;
}

/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;1,500&family=Roboto&family=Secular+One&family=Ubuntu&display=swap");

/*reset*/
* {
    margin: 0;
    padding: 0;
    font-family: var(--fonteTextos);
    color: var(--clara);
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}

form,
section {
    background-color: var(--escuro);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    background-color: var(--principal);
}


/*estilos básicos*/
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--fonteTitulos);
    color: var(--secundaria);
}

h1 {
    color: var(--escuro);

}

.perfil {
    width: 5em;
    border-radius: 50%;
}


input[type="text"],
button,
p {
    color: var(--escuro);
}


article {
    display: flex;
    flex-direction: column;

    padding: 20px;
    width: 261px;
    height: 217px;
    background: #FFFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

.botoes {
    display: flex;
}

button:first {
    background-color: #ff8d00;
}

button {
    background-color: #050302;
}


/*mobile*/
* {
    font-size: 20pt;
}


/*outros tamanhos*/